.choose{
}
.choose .flex{
    background: url('../images/choosebackground.png') no-repeat center;
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}
.choose .flex .item{
    width: 24%;
    background: #304f47;
    border-radius: 5px;
    padding: 30px;
}
.choose .flex .item .icon{
    font-size: 60px;
    color: white;
}
.choose .flex .item p{
    font-size: 20px;
    color: white;
    margin-top: 20px;
    font-weight: 500;
}