.choose h2{
    margin: 40px 0px;
}
.choose .flex{
    background: url('../images/choosebackground.png') no-repeat center;
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
}
.choose .flex .item{
    width: 24%;
    background: #304f47;
    border-radius: 5px;
    padding: 50px;
}
.choose .flex .item .icon{
    font-size: 60px;
    color: white;
}
.choose .flex .item p{
    font-size: 20px;
    color: white;
    margin-top: 20px;
    font-weight: 500;
}

/* Responsive part css start */
@media (min-width: 320px) and (max-width: 575px){
    .choose .flex .item{
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
    .choose .flex{
        flex-wrap: wrap;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .choose .flex .item{
        width: 48%;
        display: block;
        margin-bottom: 10px;
    }
    .choose .flex{
        flex-wrap: wrap;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .choose .flex .item{
        width: 32%;
        display: block;
        margin-bottom: 10px;
    }
    .choose .flex{
        flex-wrap: wrap;
    }
}