.packages h2{
    margin: 40px 0px;
}
.packages .display{
    display: flex;
    flex-wrap: wrap;
}
.packages .display .item{
    width: 23%;
    border: 1px solid teal;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-right: 20px;
}
.packages .display .item .image img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.packages .display .button{
    background: #00d690;
    padding: 6px 60px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    color: white;
    font-weight: 500;
}

/* Responsive css part  */
@media (min-width: 320px) and (max-width: 575px){
    .packages .display .item{
        width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .packages .display .item{
        width: 45%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .packages .display .item{
        width: 31%;
    }
}