
.packages .display{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.packages .display .item{
    border: 1px solid gray;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-right: 20px;
}
.packages .display .item .image img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.packages .display .button{
    background: #00d690;
    padding: 6px 60px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    color: white;
    font-weight: 500;
}

/* Responsive css part  */
@media (min-width: 320px) and (max-width: 575px){
    .packages .display{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .packages .display{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .packages .display{
        grid-template-columns: repeat(3, 1fr);
    }
}