.manageOrders .display{
    display: flex;
    flex-wrap: wrap;
}
.manageOrders .display .item{
    width: 24%;
    border: 1px solid red;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px;
}
.manageOrders .display .item .image img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}