.pacakge-details h2{
    margin: 40px 0px;
}
.pacakge-details h3{
    margin-bottom: 20px;
    margin-top: -10px;
}
.pacakge-details .background{
    height: 200px;
    background: url('../images/PackageDetails.png') no-repeat center;
    background-size: cover;
    margin-bottom: 60px;
}
.pacakge-details .details-flex{
    display: flex;
    justify-content: space-between;
}
.pacakge-details .details-flex .left{
    width: 55%;
}
.pacakge-details .details-flex .left span{
    color: #f76570;
}
.pacakge-details .details-flex .left .may{
    background: #f76570;
    border: none;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}
.pacakge-details .details-flex .left img{
    width: 100%;
    height: 400px;
}
.pacakge-details .details-flex .right{
    width: 40%;
}
.pacakge-details .details-flex .right input{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
}
.pacakge-details .details-flex .right .booking{
    background: #f76570;
    border: none;
    color: white;
}

/* Responsive part css start */
@media (min-width: 320px) and (max-width: 575px){
    .pacakge-details .details-flex .left{
        width: 100%;
    }
    .pacakge-details .details-flex .right{
        width: 100%;
    }
    .pacakge-details .details-flex{
        flex-wrap: wrap;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .pacakge-details .details-flex .left{
        width: 50%;
    }
    .pacakge-details .details-flex .right{
        width: 50%;
    }
    .pacakge-details .details-flex{
        flex-wrap: wrap;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .pacakge-details .details-flex .left{
        width: 50%;
    }
    .pacakge-details .details-flex .right{
        width: 50%;
    }
    .pacakge-details .details-flex{
        flex-wrap: wrap;
    }
}