.navbar .nav-item{
    text-decoration: none;
    margin-right: 30px;
    font-weight: 400;
    font-size: 18px;
    color: #1C2833;

}
.navbar-toggler{
    border: none !important;
}
@media screen and (max-width: 600px){
    .navbar .nav-item{
        margin-right: auto;
    }
}