.footer .logo span{
    font-size: 25px;
    margin-left: 10px;
    color: teal;
}
.footer .logo p{
    margin-top: 20px;
}
.footer{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 20px 0px;
}
.footer h3{
    margin-bottom: 30px;
    font-size: 25px;
    position: relative;
}
.footer h3::after{
    width: 100px;
    height: 1px;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -10px;
    content: "";
}
/* ***************** */
.footer .logo{
    width: 30%;
}
.footer .logo .icon{
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #f76570;
    width: 45px;
    height: 45px;
    font-size: 10px;
    color: #f76570;
    padding: 10px;
 }
 .footer .logo .icon:hover{
     background: #f76570;
     color: white;
     transition: .4s;
 }
 /* ******************* */
.footer .departments{
    width: 15%;
}
.footer .opening p{
    margin-bottom: -5px;
}
.footer .opening .example{
    padding: 20px 0px;
}
.footer .opening .inner{
    font-size: 20px;
    margin-top: 10px;
    margin-right: 15px;
}
.footer .opening .middle{
    margin-top: 20px;
}
.footer .departments ul{
    padding-left: 0;
}
.footer .departments ul li{
    list-style: none;
    font-size: 18px;
    margin-bottom: 10px;
}
/* **************** */
.footer .opening{
    width: 25%;
}
.footer .opening .opening-flex{
    display: flex;
}
/* **************** */
.footer .touch{
    width: 25%;
}

/* Responsive css part */
@media (min-width: 320px) and (max-width: 575px){
    .footer{
        flex-wrap: wrap;
    }
    .footer .logo{
        width: 100%;
        margin-bottom: 20px;
    }
    .footer .departments{
        width: 40%;
    }
    .footer .opening{
        width: 56%;
    }
    .footer .touch{
        width: 100%;
        margin-top: 20px;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .footer{
        flex-wrap: wrap;
    }
    .footer .logo{
        width: 100%;
        margin-bottom: 20px;
    }
    .footer .departments{
        width: 40%;
    }
    .footer .opening{
        width: 56%;
    }
    .footer .touch{
        width: 100%;
        margin-top: 20px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .footer{
        flex-wrap: wrap;
    }
    .footer .logo{
        width: 55%;
        margin-bottom: 20px;
    }
    .footer .departments{
        width: 35%;
    }
    .footer .opening{
        width: 40%;
    }
    .footer .touch{
        width: 56%;
        margin-top: 20px;
    }
}